<p id="notice"><%= notice %></p>

<h1>Searchs</h1>

<%= form_with(url: results_path, method: :get, local: true) do |f| %>
  <%= text_field_tag('q', @query) %>
  <%= submit_tag('Search') %>
<% end %>

<% if @results.present? %>
  <h1>Results</h1>

  <table id="results-table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @results.each do |result| %>
        <tr id="results-list">
          <td><%= result.result_type %></td>
          <td><%= result.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3>Ouch... we encountered an error while searching :(</h3>
<% end %>

